In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("train.csv")

In [6]:
df = pd.read_csv("train.csv",index_col='PassengerId', keep_default_na=False)

In [7]:
df.head(5)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,,S

In [8]:
df.describe()

         Survived      Pclass       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642    0.523008    0.381594   32.204208
std      0.486592    0.836071    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000    8.000000    6.000000  512.329200

In [9]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [10]:
df.dtypes

Survived      int64
Pclass        int64
Name         object
Sex          object
Age          object
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [11]:
df['Age'].unique()

array(['22', '38', '26', '35', '', '54', '2', '27', '14', '4', '58', '20',
       '39', '55', '31', '34', '15', '28', '8', '19', '40', '66', '42',
       '21', '18', '3', '7', '49', '29', '65', '28.5', '5', '11', '45',
       '17', '32', '16', '25', '0.83', '30', '33', '23', '24', '46', '59',
       '71', '37', '47', '14.5', '70.5', '32.5', '12', '9', '36.5', '51',
       '55.5', '40.5', '44', '1', '61', '56', '50', '36', '45.5', '20.5',
       '62', '41', '52', '63', '23.5', '0.92', '43', '60', '10', '64',
       '13', '48', '0.75', '53', '57', '80', '70', '24.5', '6', '0.67',
       '30.5', '0.42', '34.5', '74'], dtype=object)

In [15]:
df['Age']=df['Age'].replace('','0')

In [16]:
df['Age'].unique()

array(['22', '38', '26', '35', '0', '54', '2', '27', '14', '4', '58',
       '20', '39', '55', '31', '34', '15', '28', '8', '19', '40', '66',
       '42', '21', '18', '3', '7', '49', '29', '65', '28.5', '5', '11',
       '45', '17', '32', '16', '25', '0.83', '30', '33', '23', '24', '46',
       '59', '71', '37', '47', '14.5', '70.5', '32.5', '12', '9', '36.5',
       '51', '55.5', '40.5', '44', '1', '61', '56', '50', '36', '45.5',
       '20.5', '62', '41', '52', '63', '23.5', '0.92', '43', '60', '10',
       '64', '13', '48', '0.75', '53', '57', '80', '70', '24.5', '6',
       '0.67', '30.5', '0.42', '34.5', '74'], dtype=object)

In [18]:
df['Age']=df['Age'].astype('float64')

In [19]:
df.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   23.799293    0.523008    0.381594   32.204208
std      0.486592    0.836071   17.596074    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.000000    0.000000    0.000000    0.000000
25%      0.000000    2.000000    6.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   24.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [20]:
df['Cabin'].unique()

array(['', 'C85', 'C123', 'E46', 'G6', 'C103', 'D56', 'A6', 'C23 C25 C27',
       'B78', 'D33', 'B30', 'C52', 'B28', 'C83', 'F33', 'F G73', 'E31',
       'A5', 'D10 D12', 'D26', 'C110', 'B58 B60', 'E101', 'F E69', 'D47',
       'B86', 'F2', 'C2', 'E33', 'B19', 'A7', 'C49', 'F4', 'A32', 'B4',
       'B80', 'A31', 'D36', 'D15', 'C93', 'C78', 'D35', 'C87', 'B77',
       'E67', 'B94', 'C125', 'C99', 'C118', 'D7', 'A19', 'B49', 'D',
       'C22 C26', 'C106', 'C65', 'E36', 'C54', 'B57 B59 B63 B66', 'C7',
       'E34', 'C32', 'B18', 'C124', 'C91', 'E40', 'T', 'C128', 'D37',
       'B35', 'E50', 'C82', 'B96 B98', 'E10', 'E44', 'A34', 'C104',
       'C111', 'C92', 'E38', 'D21', 'E12', 'E63', 'A14', 'B37', 'C30',
       'D20', 'B79', 'E25', 'D46', 'B73', 'C95', 'B38', 'B39', 'B22',
       'C86', 'C70', 'A16', 'C101', 'C68', 'A10', 'E68', 'B41', 'A20',
       'D19', 'D50', 'D9', 'A23', 'B50', 'A26', 'D48', 'E58', 'C126',
       'B71', 'B51 B53 B55', 'D49', 'B5', 'B20', 'F G63', 'C62 C64',
       'E24', 'C90', 'C45', 'E8', 'B101', 'D45', 'C46', 'D30', 'E121',
       'D11', 'E77', 'F38', 'B3', 'D6', 'B82 B84', 'D17', 'A36', 'B102',
       'B69', 'E49', 'C47', 'D28', 'E17', 'A24', 'C50', 'B42', 'C148'],
      dtype=object)

In [22]:
df['Cabin'].value_counts()

Cabin
               687
C23 C25 C27      4
G6               4
B96 B98          4
C22 C26          3
              ...
E34              1
C7               1
C54              1
E36              1
C148             1
Name: count, Length: 148, dtype: int64

In [24]:
df['Ticket'].value_counts()

Ticket
347082      7
CA. 2343    7
1601        7
3101295     6
CA 2144     6
           ..
9234        1
19988       1
2693        1
PC 17612    1
370376      1
Name: count, Length: 681, dtype: int64

In [27]:
df = df.drop(['Cabin','Ticket'],axis=1)

In [28]:
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [32]:
df.to_csv('titanic.csv')

In [30]:
df['Survived']=df['Survived'].replace(1,'L')

In [31]:
df['Survived']=df['Survived'].replace(0,'N')